// importa bootstrap
@import '../node_modules/bootstrap/scss/bootstrap';
// Asignar color
$primary: #5265E1;
$secundary: #FA5959; // importar funciones y variables
@import '../node_modules/bootstrap/scss/_functions';
@import '../node_modules/bootstrap/scss/_variables';
// crea colores nuevos
$custom-theme-colors: ( "altdark": #522192);
// agrega los colores nuevos creados
$theme-colors: map-merge($custom-theme-colors, $theme-colors);

$utilities: (
        "overflow": (
                responsive: true,
                property: overflow,
                values: visible hidden scroll auto,
        ),
);
$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxl: 1400px
);

@import '../node_modules/bootstrap/scss/bootstrap';
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";


.start-25 {
  left: 50%;
  right: 50%;
}

.background-image {
  z-index: -1;
}
