
// Asignar color
$primary: #5265E1;
$secondary: #FA5959;

// importa bootstrap
@import '../node_modules/bootstrap/scss/bootstrap';
// importar funciones y variables
@import '../node_modules/bootstrap/scss/_functions';
@import '../node_modules/bootstrap/scss/_variables';
// crea colores nuevos
$custom-theme-colors: ("altdark": #522192);
// agrega los colores nuevos creados
$theme-colors: map-merge($custom-theme-colors, $theme-colors);

$utilities: (
        "overflow": (
                responsive: true,
                property: overflow,
                values: visible hidden scroll auto,
        ),
);
$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxl: 1400px
);

@import '../node_modules/bootstrap/scss/bootstrap';
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";


.start-25 {
  left: 50%;
  right: 50%;
}

.background-image {
  z-index: -1;
}

.image-container {
  width: 100%;
  height: 30em;
}

#top-image {
  width: 90%;
  top: 10%;
  right: 0;
}

#tab-image {
  width: 90%;
  top: 10%;
  left: 0%;
  transform: rotate(180deg); /* Equal to rotateZ(45deg) */
}

@media (min-width: 576px) and (max-width:991px) {
  .image-container {
    height: 30em;
  }
  #top-image {
    width: 80%;
    top: 20%;
  }
  #tab-image {
    width: 80%;
    top: 20%;
    left: 0;

    transform: rotate(180deg); /* Equal to rotateZ(45deg) */
  }

}


.card-browser {
  .logo{
    max-height: 10em;
    align-self: center;
    margin-top: 5em;
  }
  .titulo {
    margin-top: 2em;
    text-align: center;
  }
  .image-punto {
    width: 100%;
    margin-bottom: 2em;
  }
}

#card2 {
  margin-top: 2em;
}


#card3 {
  margin-top: 4em;
}
.nav-link{
  color: inherit;
  &.active {
    border: none;
    font-weight: bold;
    border-bottom: 2px solid $secondary !important;
  }
}

.accordion-button::after {
  background-image: url(/Imagenes/icon-arrow.svg);
}

.btn-secondary {
  color: #fff;
}
